<!DOCTYPE html>
<html>

<head>
    <title>Detalhes do Cliente</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Detalhes do Cliente: <span th:text="${cliente.nome}"></span></h1>
    <table>
        <tr>
            <th>ID</th>
            <td th:text="${cliente.id}"></td>
        </tr>
        <tr>
            <th>Nome</th>
            <td th:text="${cliente.nome}"></td>
        </tr>
        <th>CPF</th>
        <td th:text="${cliente.cpf}"></td>
        </tr>
        <tr>
            <th>RG</th>
            <td th:text="${cliente.rg}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${cliente.email}"></td>
        </tr>
        <tr>
            <th>Endereço</th>
            <td th:text="${cliente.endereco}"></td>
        </tr>
        <tr>
            <th>Profissão</th>
            <td th:text="${cliente.profissao}"></td>
        </tr>
        <tr>
            <th>Entidade Empregadora</th>
            <td th:text="${cliente.entidadeEmpregadora}"></td>
        </tr>
        <tr>
            <th>Rendimentos Auferidos</th>
            <td>
                <ul th:each="rendimento : ${cliente.rendimentosAuferidos}">
                    <li th:text="${rendimento}"></li>
                </ul>
            </td>
        </tr>
    </table>


</body>

</html>