<!DOCTYPE html>
<html>

<head>
    <title>Detalhes da Empresa</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header th:include="menu :: menu"></header>
    <h1>Detalhes da Empresa: <span th:text="${empresa.razaoSocial}"></span></h1>
    <table>
        <form th:action="@{/empresa/{id}(id=${empresa.id})}" th:object="${empresa}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <tr>
                <th>ID</th>
                <td th:text="${empresa.id}"></td>
            </tr>
            <tr>
                <th>Razão Social</th>
                <td>
                    <input type="text" class="form-control" id="razaoSocial" placeholder="Razão Social"
                        th:field="*{razaoSocial}">
                </td>
            </tr>
            <tr>
                <th>CNPJ</th>
                <td>
                    <input type="text" class="form-control" id="cnpj" placeholder="CNPJ" th:field="*{cnpj}">
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </td>
            </tr>
        </form>
    </table>


</body>

</html>